@font-face {
	font-family: NanumGothic;
	src: local("?"), url(../imgs/nanum.woff) format("woff"), url(../imgs/nanum.ttf) format("truetype");
} */
/* * {
	margin: 0px; padding: 0px; vertical-align: middle;
}
body {
	background-position: top; margin: 0px; padding: 0px; color: rgb(102, 102, 102); font-family: "Dotum", Arial,serif; font-size: 1em; background-image: url("../imgs/body_back.gif"); background-repeat: repeat-x; background-color: rgb(255, 255, 255);
} */
/* #wrap {
	margin: 0px auto; padding: 0px; width: 995px; float: left;
} */
/* header {
	margin-top: 20px;
} */
.clear{
	float:left;
}
 #aside {
	max-width: 235px; float:left; padding-top:50px;
 }
/* #article {
	padding-top:80px;
	max-margin-left:235px;
} */
